.page {
  padding: 5px 8px;
  margin: 5px;
  cursor: pointer;
  background-color: #BDC1C9;
  border-radius: 2px;
}

.page:hover {
  background-color: #9198A8;
}

.page.end:hover {
  background-color: #BDC1C9;
}

.page.dots {
  background-color: #BDC1C9;
}

.page__current {
  font-weight: bold;
  background-color: #d16171;
}

.page__current:hover {
  font-weight: bold;
  background-color: #d16171;
}