.page {
  padding: 5px 8px;
  margin: 5px;
  cursor: pointer;
  background-color: #BDC1C9;
  border-radius: 2px;
}

.page:hover {
  background-color: #a1a3aa;
}

.page__current {
  font-weight: bold;
  background-color: #d16171;
}