.login__title {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 0 15px;
  background-color: #e5e6e8;
}

.login__body {
  display: flex;
  justify-content: center;
}

.login p {
  font-size: 20px;
  color: #FF7F50;
  text-align: center;
  margin-top: 25px;
}

.login p span {
  display: block;
}

.login__body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  margin-top: 50px;
}

.login__body form label {
  color: #778899;
  display: block;
  margin: 0 0 3px 3px;
}

.login__body form Input {
  margin-bottom: 10px;
}

.login__body form Button {
  align-self: center;
  margin-top: 15px;
}