.films {
  background-color: #ffffff;
  margin-bottom: 5px;
  padding-bottom: 50px;
  border-radius: 0 0 3px 3px;
  position: relative;
  min-height: 1000px;
}

.error {
  font-size: 20px;
  color: #FF7F50;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
