.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background: rgba(0,0,0, 0.6);
}

.modal-content {
  height: 90vh;
  transform: scale(0.5);
}

.modal-content img {
  height: 100%;
  object-fit: contain;
}

.modal.active {
  transition: all 0.5s;
  opacity: 1;
  pointer-events: auto;
}

.modal-content.active {
  position: relative;
  transition: all 0.5s;
  transform: scale(1);
}

.modal-content.active span {
  font-size: 52px;
  color: #d06070;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}