@import './reset.scss';

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  height: 120%;
  background-color: #909db0;
}

body {
  position: relative;
  max-width: 930px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}


