@import './reset.scss';

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  background-color: #909db0;
  padding: 3px 0 3px;
}

body {
  position: relative;
  max-width: 930px;
  min-height: 120%;
  margin: 0 auto;
  border-radius: 3px 3px 3px 3px;
  background-color: #fff;

}


