.film {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  margin: 5px 5px;
  padding-bottom: 15px;
}

.film__poster {
  flex: 1 1 auto;
}

.film__poster img {
  height: 100%;
  min-height: 300px;
  width: 100%;
  min-width: 200px;
  cursor: pointer;
  border-radius: 3px;
  object-fit: cover;
}

.film__poster img:hover {
 opacity: 0.8;
}

.film__description {
  height: 40px;
  width: 100%;
  padding: 5px;
}

.film__description strong {
  color: #2a5cad;
  margin-bottom: 5px;
  cursor: pointer;
}

.film__description strong:hover{
  opacity: 0.8;
}

.film__description span {
  color: #778899;
  margin-left: 8px;
}

